/* NÚMEROS */
.contador-digito p {
  font-size: 70px;
  font-weight: bold;
  color: #cfd3ff;
}

/* TEXTO (dias, horas...) */
.contador-digito span {
  color: var(--verde);
  font-size: 16px;
}